.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
  padding-top: 3rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    align-content: center; 
}

textarea{
    height: 4rem!important;
    resize: none;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--orange);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: var(--orange);
    line-height: 50px;
}

/* animation for loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1024px) {
    .contact-form {
        padding: 0 3rem 0 0rem;
    }
    .contact-form .p-left {
        margin-right: 1rem;
    }    
}

@media screen and (max-width: 740px) {
    .c-right .user {
        width: 14rem;
    }
}

@media screen and (max-width: 600px) {
    .contact-form .p-left {
        margin-right: 0;
    } 
     .contact-form {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4rem;
     }
}
