.footer {
    display: flex;
    align-items: center;
    /* margin: -0.5rem -3.5rem; */
    position: absolute;
    margin-top: -12rem;
    margin-left: -3.5rem;
}
.f-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: 10rem;
    gap: 4rem;
    color: white;
}
.f-icons {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 972px) {
    /* .footer img {
        width: calc(50vw + 85%) !important;
    } */
}
